@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-image: url("https://img.freepik.com/free-vector/watercolour-green-background_78370-1882.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;

}

.card {
    background-image: URL("https://img.freepik.com/premium-vector/vector-multicolored-abstract-background-effect-geometric-triangles_84176-2366.jpg");
    background-size: cover;

    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;

}

button {
    padding: 8px 12px;
    cursor: pointer;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

p {
    color: #333;
}

.card {
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
}

button:hover {
    background: #005f56;
}